<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.unit11apps.crosswalkdatamigration"
        version="0.7.0">

  <name>CrosswalkDataMigration</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/crosswalkdatamigration.js" target="js/crosswalkdatamigration.js"/>

  <js-module src="www/crosswalkdatamigration.js" name="crosswalkdatamigration">
    <clobbers target="crosswalkdatamigration" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CrosswalkDataMigration">
        <param name="android-package" value="com.unit11apps.crosswalkdatamigration.CrosswalkDataMigration"/>
      </feature>
    </config-file>

    <source-file src="src/android/CrosswalkDataMigration.java" target-dir="src/com/unit11apps/crosswalkdatamigration/"/>
  </platform>
</plugin>